* {
    font-family: 'Arial Unicode MS';
}
body {
    width: 720px;
}
h1 {
    text-align:center;
}
#chessboard {
    float:left;
    width: 640px;
    height: 640px;
    margin: 20px;
}
.black {
    background-image: url("assets/wood-pattern.png");
    float: left;
    width: 80px;
    height: 80px;
    background-color: #B58863;
    font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #F0D8B5;
    font-size:55px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.side-container {
    float:left;
    margin: 20px 0px;
    width:40px;
    height:640px;
}
.bottom-container {
    margin: 0px 20px;
}
.side-notation {
    float: left;
    width: 80px;
    height: 60px;
    padding-top: 20px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    font-size: 24px;
}
.bottom-notation {
    float: left;
    width: 80px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    font-size: 24px;
}
.highlight {
    /* border: 1px solid red; */
    /* box-sizing:border-box; */
}
.selected {
    /* border: 2px solid blue; */
    box-sizing:border-box;
    border: 1px solid blue;
    background-color: #666F41;
    background-image: none;
}
.white-moves, .black-moves {
    box-sizing:border-box;
    /* border: 1px solid white; */
    /* background-image: none; */
    font-size:21px;
}
.white-moves::after {
    content: "⚪";
    display:block;
    margin: 26px;
    opacity: .75;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}
.black-moves::after {
    content: "⚫";
    display:block;
    margin: 26px;
    opacity: .75;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}

.black-moves:hover, .white-moves:hover {
    border: 1px solid blue;
    box-sizing:border-box;
    background-color: #666F41;
}